h1 {
    color: #27aedb;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.app {
  background-color: #f5f7fa;
  margin: 0;
  display: flex;
  justify-content: center;
}

.editor-container {
  display: flex;
  width: 90%;
  height: 80vh;
  background-color: #f0f2f5;
}

.textarea {
  width: 50%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #eaeef3;
  resize: none;
  border-right: 2px solid #ccc; 
}

.preview {
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: #eaeef3;
  overflow-y: auto;
}
